*~
.DS_Store

# .gitignore for maven
target/
*.releaseBackup

# web application files
#/web-app/WEB-INF

# IDE support files
/.classpath
/.launch
/.project
/.settings
/*.launch
/*.tmproj
/ivy*
/eclipse

## .gitignore for intellij

*.iml
*.ipr
*.iws
.idea/
logs
*.log